{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- swiper banner -->

    <div class="swiper banner">
      <div class="swiper-wrapper">
        {% if sliders %}
          {% for item in sliders %}
          <div class="swiper-slide">
            <img src="{{ item.image.url }}" alt="">  
          </div>
          {% endfor %}
        {% else %}
          <p class="lead m-5 p-5 bg-danger">No Slider Available yet</p>
        {% endif %}
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

  

<!-- category -->
   <!-- jumbo -->
   <section id="jumbo" class="py-3">
    <div class="container">
        <h5 class="text-center">FREE SHIPPING WORLDWIDE. NO MINIMUM OURCHASE REQUIRED.</h5>
        <div class="intro mb-5">
          <h2 class="text-center">
              <span>&#8668;</span> Category <span>&#8669;</span>
          </h2>
        </div>
        <div class="row justify-content-space-between align-items-center">
          {% for cat in category %}
          <div class="col-12 col-md-5 d-none d-md-block" id="jumb">
            <a href="{% url 'category' %}">
                <h1 class="d-inline">{{cat.title}}</h1>
              </a>
            </div>
          {% endfor %}    
        </div>

    </div>  
</section>


<!-- intro -->
    <!-- featured  -->
    <section id="featured" class="py-4 my-3">
      <div class="container">
          <!-- intro -->
         <div class="intro mb-5">
          <h2 class="text-center">
              <span>&#8668;</span> Products <span>&#8669;</span>
          </h2>
         </div>
         <!-- product list -->
         <div class="row">
            {% if show %}
              {% for item in show %}
              <div class="col-12 col-md-3">
                <a href="{% url 'singleproduct' item.slug %}">
                    <div class="product">
                        <img src="{{ item.image.url }}" alt="" class="img-fluid">
                        <h5>{{item.title}}</h5>
                        <h6>
                          {% if item.discount_price %}
                          &#8358; {{item.discount_price | intcomma}} <del>&#8358; {{item.price | intcomma}}</del>
                          {% else %}
                          &#8358; {{item.price | intcomma}}
                          {% endif %}
                          
                        </h6>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </div>
                        <a href="{% url 'addtocart' item.id %}" class="btn">ADD TO CART</a>
                       </div>
                </a>
              </div>
              {% endfor %}
              <!-- pagination -->
              <nav >
                <ul class="pagination">
                  {% if paginators.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ paginators.previous_page_number}}" >Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  {% endif %}

                  {% for i in paginators.paginator.page_range %}
                    {% if i == paginators.number %}
                    <li class="page-item active"><a class="page-link">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  
                  {% if paginators.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{paginators.next_page_number}}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              <!-- end of pagination -->
            {% else %}
              <p class="text-center lead bg-danger p-3 m-3">
                No Products
              </p>
            {% endif %}
            
          
        </div>
      </div>
  </section>

{% endblock content %}